.login-paciente-container {
  background-color: #f6f9fc;
}

h3 {
  color: #ff7f00;
}

.form-label {
  color: #ff7f00;
  font-weight: 600;
}

.btn-primary {
  background-color: #ff7f00 !important;
  border-color: #ff7f00 !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #7a4510 !important; 
  border-color: #ff7f00 !important;
  transform: scale(1.02);
}

.btn-outline-primary {
  color: #ff7f00 !important;
  border-color: #ff7f00 !important;
  background-color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.btn-outline-primary:hover {
  background-color: #949494 !important; 
  color: white !important;
  border-color: #949494 !important;
  transform: scale(1.02);
}
